In [13]:
import pandas as pd

df=pd.read_parquet("./commands/test.parquet")
df.columns, df.shape

(Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
        'cool', 'text', 'parsed_text'],
       dtype='object'),
 (4, 9))

In [12]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,parsed_text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...","[If, you, decide, to, eat, here, just, be, awa..."
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,"[I've, taken, a, lot, of, spin, classes, over,..."
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,"[Family, diner, Had, the, buffet, Eclectic, as..."
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...","[Wow, Yummy, different, delicious, Our, favori..."